<mat-drawer-container class="homepage-container">
    <mat-drawer mode="side" opened>
        <div class="title" style="text-align: center">
            <img style="vertical-align:middle" src="../../../assets/images/hospital.png" width=43 height=43 alt="">
            <span style="vertical-align:middle;">Recovery</span>
        </div>
        <mat-nav-list *ngIf="role==='ROLE_DOCTOR'">
            <a mat-list-item [routerLink]="'log'" routerLinkActive="active-link">
                Logs
            </a>
            <a mat-list-item [routerLink]="'log-alarms'" routerLinkActive="active-link">
                Log alarms
            </a>
            <a mat-list-item [routerLink]="'create-ingredient'" routerLinkActive="active-link">
                Create Ingredient
            </a>
            <a mat-list-item [routerLink]="'create-meal'" routerLinkActive="active-link">
                Create Meal
            </a>
        </mat-nav-list>
        <mat-nav-list *ngIf="role==='ROLE_PATIENT'">
            <a mat-list-item [routerLink]="'medical-history'" routerLinkActive="active-link">
                Medical History
            </a>
            <a mat-list-item [routerLink]="'nutrition'" routerLinkActive="active-link">
                Nutrition
            </a>
            <a mat-list-item [routerLink]="'therapy'" routerLinkActive="active-link">
                Therapy
            </a>
            <a mat-list-item [routerLink]="'add-injury'" routerLinkActive="active-link">
                Add Injury
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar>
            <span class="logout-spacer"></span>
            <button id="logout-btn" mat-button (click)="logout()">
                Logout&nbsp;<mat-icon>logout</mat-icon>
            </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>