<mat-progress-bar class="progress-bar" mode="indeterminate" *ngIf="dataSource.length===0">
</mat-progress-bar>
<div class="table-title">Medical history</div>
<div class="ng-container row justify-content-md-center">
    <div class="col-md-11">
        <table mat-table [dataSource]="dataSource" id="patient-table">
            <!-- No data row -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="6">No prior injuries.</td>
            </tr>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Injury date </th>
                <td mat-cell *matCellDef="let row"> {{row.startDate | date:'dd-MM-yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Treatment finalized </th>
                <td mat-cell *matCellDef="let row"> {{(row.endDate | date:'dd-MM-yyyy') || 'Active injury'}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let row"> {{row.description}} </td>
            </ng-container>

            <ng-container matColumnDef="injuryType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Injury type </th>
                <td mat-cell *matCellDef="let row"> {{row.injuryTypeName}} </td>
            </ng-container>

            <ng-container matColumnDef="injuryBodyPart">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Injured body part </th>
                <td mat-cell *matCellDef="let row"> {{formatInjuryBodyPart(row.injuryBodyPart)}} </td>
            </ng-container>
        </table>
    </div>
</div>