<div class="rowSide">
    <div class="columnSide">
        <div class="jumbotron bg-transparent col-md-12 p-5 bg-white rounded tableSide">
            <mat-card class="shadow">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image">
                    </div>
                    <mat-card-title>{{getFullName()}}</mat-card-title>
                    <mat-card-title>Remaining calories: {{getUsedCalories()}}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="p-3">
                    <div class="m-3">
                        <app-meal-table [assignPatientMeal]="true" (countCalories)="calculateCalories($event)">
                        </app-meal-table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="columnSide">
        <app-daily-meal-table [dataSource]="assignDataSource"></app-daily-meal-table>
    </div>
</div>